[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
pandas = "*"
numpy = "*"
torch = {version = "*", index = "downloadpytorch"}
langchain = "==0.0.240"
sentence-transformers = "==2.2.2"
pinecone-client = "==3.1.0"
python-dotenv = "*"
datasets = "*"
beautifulsoup4 = "*"
langchain-community = "*"
unstructured = "*"
sec-edgar-downloader = "*"
llama-index = "*"
lxml = "*"
llama-index-readers-file = "*"
langchain-openai = "*"
langchain-pinecone = "*"
openai = "*"
langchain-huggingface = "*"
quanto = "==0.0.11"
bitsandbytes = "*"
accelerate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
